@import "tailwindcss";

/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@theme {
  --color-soloPurple: #a480f2;
  --color-soloLightBlue: #d4d9ff;
}

/* Custom  Animation */
@layer utilities {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-fadeUp {
    /* animation: fadeUp 1.5s ease forwards; */
    animation-name: fadeUp;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }

  .animate-fadeIn {
    animation: fadeIn 1.4s ease forwards;
  }

  .text-glow {
    text-shadow: 0 0 10px #111111, 0 0 20px #111111;
  }
}
